.place-show {
  margin-top: 1.5rem;
}

.content-text {
  border-top: 1px solid rgba($color: #080808, $alpha: 0.1);
}

.place-content {
  padding: 1.5rem;
  padding-bottom: 4rem;
  border: 1px solid rgba($color: #080808, $alpha: 0.1);
}
.comment-auth-message {
  text-align: center;
  padding: 1rem;
}

.author-control{
  float: right;
}