<div class="place-preview">
  <div class="place-info">
    <a class="author" [routerLink]="['/profile', place.author.id]" *ngIf="place.author">
      <img class="place-info-image" src="{{ place.author.image }}" alt="User image" *ngIf="place.author.image">
      <img class="place-info-image" src="../../assets/images/default-profile.png" alt="User image"
        *ngIf="!place.author.image">
      <span>
        Username: {{ place.author.username }}
      </span>
    </a>
    <span class="date">
      Publish At: {{ place.createdAt | date: 'longDate' }}
    </span>
  </div>
  <a [routerLink]="['/place', place.id]" class="preview-link">
    <h1>Name: {{ place.name }}</h1>
    <p>Location: {{ place.location }}</p>
    <span>Read more...</span>
  </a>
</div>