.preview-link h1 {
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 3px;
  @media (max-width: 768px) {
    font-size: 0.7rem;
  }
}
.preview-link span {
  max-width: 30%;
  font-size: 0.8rem;
  font-weight: 300;
  color: #bbb;
  vertical-align: middle;
  @media (max-width: 768px) {
    font-size: 0.4rem;
  }
}
.preview-link p {
  @media (max-width: 768px) {
    font-size: 0.4rem;
  }
}

.preview-link:hover {
  text-decoration: inherit !important;
}
.place-preview {
  padding: 1.5rem 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  text-align: left;
}

.place-info .author {
  display: flex;
}

.place-info {
  padding: 1rem 0;
}

.place-info .date {
  font-size: 0.5rem;
}

.place-info-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.place-pre-photo {
  background: #c7c7c7;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100px;
  @media (max-width: 768px) {
    margin-right: auto;
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
  }
}

.place-pre-photo > span {
  color: #000;
  font-size: 1rem;
  text-align: center;
}

.place-pre-photo > img {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}
