<div class="place-preview" *ngFor="let place of places">
  <div class="place-info">
    <a class="author" [routerLink]="['profile', place.author.id]" *ngIf="place.author">
      <img
        class="place-info-image"
        [src]="place.author.image"
        alt="User image"
        *ngIf="place.author.image"
      />
      <img
        class="place-info-image"
        src="../../assets/images/default-profile.png"
        alt="User image"
        *ngIf="!place.author.image"
      />
      &nbsp;<span>{{ place.author.username }}</span>
    </a>
    <span class="date"> Publish At: {{ place.createdAt | date: 'longDate' }} </span>
  </div>
  <a [routerLink]="['place', place.id]" class="preview-link row">
    <div class="place-pre-photo col-md-5">
      <span *ngIf="!place.photo">No photo</span>
      <img [src]="place.photo" alt="" *ngIf="place.photo" />
    </div>
    <div class="place-pre-contect col-md-7">
      <h1>Name: {{ place.name }}</h1>
      <p>Location: {{ place.location }}</p>
      <span>Read more...</span>
    </div>
  </a>
</div>

<div class="app-place-preview" [hidden]="!loading">Loading places...</div>

<div class="app-place-preview" [hidden]="loading || places.length">No Record...</div>
