.user-info {
  text-align: center;
  padding: 1.5rem;
}
.profile-image {
  display: block;
  margin: 0 auto;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: gray;
  background-position: center center;
}
