<div class="user-info">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-10 offset-md-1">

        <div class="profile-image" style="background-image:url('../../assets/images/default-profile.png');"
          *ngIf="!profile.image">
        </div>
        <div class="profile-image" [ngStyle]="{ 'background-image': 'url(' + profile.image + ')'}"
          *ngIf=" profile.image">
        </div>
        <h4>Username: {{ profile.username }}</h4>
        <h4>Gender: {{ profile.gender }}</h4>
        <a [routerLink]="['setting']" [hidden]="!isCurrentUser" class="btn btn-sm btn-outline-secondary action-btn">
          Edit Profile Settings
        </a>

      </div>
    </div>
  </div>
  <div class="user-places">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-10 offset-md-1">
          <div class="places-toggle">
            <ul class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                  [routerLink]="['profile', profile.id]">
                  My Place
                </a>
              </li>
            </ul>
          </div>
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>