/* You can add global styles to this file, and also import other style files */

@import './chat-panel.scss';

ul.invalid-feedback {
  margin: 0.5rem 0;
  padding-left: 0.5rem;
  list-style-type: none;
}
